* {
    font-family: Verdana, Arial, sans-serif;
}

.title {
    background-color: lightgrey;
    text-align: center;
    color: rgb(202, 181, 22);
    padding: 5px;
}

.recipes-list {
    text-align: center;
    background-color: rgb(230, 228, 228);
    padding: 3px;
    margin-top: -22px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.recipes-list-element {
    margin: 5px;
}

a {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    float: left;
    height: auto;
    width: auto;
}

.recipe {
    display: block;
    float: inline;
    margin-left: 780px;
    margin-right: 10px;
}

h1.title{
    color: rgb(135, 135, 207);
}

.recipe p {
    color: rgb(123, 27, 27);
    font-weight: bold;
}